//Empieza SCSS General//

body{
    background: $colorBackgroundBody;
    background: cover;
}

h1,h2,h3,h4,h5,h6,nav,i{
    font-family: 'Fjalla One', sans-serif;
}

#NavPrincipal{
    position: fixed;
    font-family: 'Fjalla One', sans-serif;
    z-index: 3;
    width: 100vw;
    background-color: $colorBordes;
    div{
        .custom-toggler.navbar-toggler {
            color: $colorTransformNavLi;
        }
    }
}

#Botonera{
    li{
        a {
            color: $colorTitulosPrimary;
            border-radius: 8px;
            &:hover{
                background: $colorBackgroundNavLi;
                color: $colorBordes;
                cursor: pointer;
                transition: all 0.5s;
            }
        }
    }
}

h1{
    font-size: $sizexl;
    color: $colorTitleBlanco;
}

h2{
    font-size: $sizel;
    color: $colorTitleBlanco;
}

h3{
    font-size: $sizexxl;
    margin-bottom: 8%;
    margin-top: 1%;
    padding: 1%;
    width: auto;
    background-color: $colorBackgroundTitulosPrimary;
    color:$colorTitleBlanco;
    text-align: center;
    border-radius: 4px;
}

h4{
    font-size: $sizel;
    color: $colorTitleBlanco;
    text-align: center;
    width:auto;
    background-color: $colorBackgroundTitulosSecondary;
    border-radius: 4px;
}

h5{
    font-size: $sizel;
    color: $colorTitleBlanco;
    text-align: center;
    width:auto;
    background-color: $colorTitulosHeader;
    border-radius: 4px;
    padding: 12px;
}

h6{
    font-size: $sizel;
    color: $colorTitleBlanco;
    text-align: center;
    width:auto;
    background-color: $colorBackgroundTitulosSecondary;
    border-radius: 4px;
    padding: 12px;
}

p{
    font-family: 'Alumni Sans', sans-serif;
    color: $colorTitleBlanco;
    font-size: $sizel;
    padding: 4%;
}

.HeaderRelative{
    position:relative;
    display:flex;
    justify-content: center;
    z-index: 1;
    div{
        .ImagenPrincipal{
            object-fit: cover;
            width: 100vw;
            height: 100vh;
        }

    }
    .HeaderTextAbsolute{
        position:absolute;
        text-align: center;
        margin-top: 40vh;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 28%;
        padding-right: 28%;
        background-color: $colorTitulosHeader;
        z-index: 2;   
    }
}

.text-area0{
    background-color: $colorBackgroundBody2;
    margin-top:40px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom:20px;
    padding-left:16px;
    padding-right:12px;
    padding-bottom:20px;
    padding-top:15px;
    text-align: center;
}

.Logo{
    width: $width100;
    height: $height100;
}

.PaddingText{
    padding: 60px;
    font-size: medium;
    margin-bottom: 50px;
}

.TitulosWidthAuto{
    padding: 1%;
    margin-top:80px;
    width:auto;
    background-image: url(../img/fondo_qatarContacto.jpg);
    border-radius: 5px;
}


.Color1{
    color: $colorTitulosPrimary;
    font-size: $sizexl;
}

.LeterXl{
    font-size: $sizexxl;
}

//Termina SCSS General//


//Selectores Campeones//

.bgCards{
    width: 90%;
    background-image: url(../img/fondo_qatar2.jpg);
    background-size: $width100;
    background-repeat: no-repeat;
    overflow:hidden;
    background-size: cover;
    margin-left: 2.3vw;
    margin-bottom: 50px;
    &:hover{
        .ImgCampeones {-webkit-transform:scale(1.4);transform:scale(1.4);
            transition: all 0.5s;}
        h3{-webkit-transform:scale(1.4);transform:scale(1.4);
            transition: all 0.5s;}
    }
    .ImgCampeones{
        width: $width100;
        height: 39vh;
    }
    #CardResultados{
        font-size: $sizexxl;
        margin-top:1%;
        padding:1%;
        width: $width100;
        background-color: $colorCardSecondary;
        font-family: 'Fjalla One', sans-serif;
        color: $colorTitleBlanco;
        text-align: center;
        border-radius: 4px;
    }
}

//Termina Campeones//


//Selectores Sedes//

.ArticleRelativeSedes{
    position:relative;
    display: flex;
    justify-content: flex-start;
    margin-left: 1vw;
    margin-top: 20px;
    .ArticleAbsoluteSedes{
        position: absolute;
    }
    .FormatoTitulosSedes{
        background: linear-gradient(90deg, rgba(45,41,41,1) 78%, rgba(0,0,0,0) 89%);
        padding: 20%;
        padding-right: 45px;
        margin:0%;  
    }
    .ImgEstadios{
        object-fit: cover;
        width: 35vw;
        height: 66vh;
        border-radius: 4px;
    }    

    .TextReltiveSedes{
        width: 284px;
        height: 66vh;
        background-color: $colorBackgroundTitulosSecondary;
        text-align: start;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
    }
    .VectorSedes{
        margin-top: 20px;
        margin-left: 5.5vw;
    }
}

    

.MapasSedes{
    width: 34vw;
    height: 66vh;
}

//Termina Sedes//


//Selectores Estadios//

.ArticleRelativeEstadios{
    position: relative;
    display: flex;
    .ImgEstadios{
        object-fit: cover;
        width: 35vw;
        height: 66vh;
        border-radius: 4px;
    }
    .ArticleAbsoluteEstadios{
        position: absolute;
        .VectorEstadios{
            padding-left: 72%;
            padding-top: 24%;
        }
    }
    .TextRelativeEstadios{
        border-radius: 5px;
        padding-top: 20px;
        height: 66vh;
        width: 64%;
        text-align: start;
        background: linear-gradient(90deg, rgb(30, 4, 4) 17%, rgb(30, 12, 12) 92%, rgba(17, 13, 13, 0) 100%);
        margin-left: 30vw;
    }
    
}

//Termina Estadios//


//Selectores Grupos//

.bgCardsGrupos{
    background-image: url(../img/fondo_qatarContacto.jpg);
    border-radius: 4px;
    height: 45%;
    margin-bottom: 5%;
    div{
        div{
            .ImgGrupos{
                width:34%;
                height:90%;
            }
        }
    }
}

//Termina Grupos//


//Selectores Noticias//

.imgCardNoticias{
    width: 26vw;
    height: 50vh;
    object-fit: cover;
    border-radius: 4px;
}

.CardTextNoticias{
    font-family: 'Alumni Sans', sans-serif;
    color: $colorBackgroundTitulosPrimary;
    font-size: $sizel;
    text-align: start;
    padding-top: 10px;
}
    .BotonNoticia{
        color: $colorTitulosPrimary;
        font-size: $sizexl;
        padding: 0%;
        margin-right:18px;
}

#BotonNoticiasBG{
    background-color: $colorTitulosPrimary;
    border-color: $colorBordes;
}

//Termina Noticias//



//Selectores Footer//

.breadcrumb{
    li{
        font-family: 'Fjalla One', sans-serif;
    }
    #FormatoGuiaFooter{
        font-family: 'Fjalla One', sans-serif;
        text-decoration: none;
        color: $colorTitleBlanco;   
    }

}


.bgFooter{
    background-image: url(../img/fondo_qatarContacto.jpg);
    width: 100vw;
    height: 32vh;
    background-size: $width100;
    background-repeat: no-repeat;
    margin-top: 5%;
    div{
        a{
            .imgFooter{
                width: 50px;
                height: 7vh;
                margin: 10%;
                padding-left: 10px;
            }
        }
    }
}