.FormatoVideoInicio{
    width: 45vw;
    height: 60vh;
    margin-top: 30px;
}

#bgInicio{
    background-image: url(../img/fondo_qatar2.jpg);
    width: 100%;
    height: 90%;
    background-size: 100%;
    border-radius: 1%;
    padding: 5%;
    margin-top: 5%;
}

.ImgGruposInicio{
    margin-top: 20px;
    width: 100%  
}


.ImgEstadiosInicio{
    height: 66vh;
}

.CardNoticiasInicio{
    background-image: url(../img/fondo_qatarContacto.jpg);
    margin: 2%;
    background-position-x: 900px;
    object-fit: cover;
    .FormatoCardNoticas{
        height: 33vh;
    
    }
    div{
        .BotonNoticiasInicio{
            display: flex;
            justify-content: flex-start;
            #BotonNoticiasBG{
                background-color: $colorTitulosPrimary;
                border-color: $colorBordes;
            }
        }
    }
}