
@media (max-width:450px) and (min-width:300px){
    .HeaderTextAbsolute{
        border-radius: 4px;
            h2{
                display: none;
            }
    }
}

@media (min-width:320px) and (max-width: 472px){
    .bgCardsGrupos{
        div{
            div{
                .ImgGrupos{
                    width: 72vw;
                    height: 55vh;
                }
            }
        }
    }
    .textnone{
        display: none;
    }
}
       
@media (min-width:320px) and (max-width:767px){
    .imgCardNoticias{
        width: 70vw;
        height: 150px;
        object-fit: cover;
        border-radius: 4px;
    }
    .CardTextNoticias{
        font-family: 'Alumni Sans', sans-serif;
        color: $colorBackgroundTitulosPrimary;
        font-size: $sizemd;
        text-align: start;
        padding-top: 10px;
    }
}

@media (min-width: 320px) and (max-width: 944px){
    .VectorEstadios{
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 838px){
    .VectorSedes{
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 690px){
    iframe{
        display: none;
    }
    .TextReltiveSedes{
        display:flex;
        align-items: center;
    }
    .FormatoTitulosSedes{
        font-size: $sizemd;
    }
}
