$colorBackgroundBody: rgb(45, 0, 19);
$colorTitleBlanco: rgb(255, 248, 248);
$colorBackgroundTitulosTransp: rgba(42, 1, 18, 0.822);
$colorBackgroundTitulosPrimary: rgba(54, 54, 54, 0.564);
$colorBackgroundTitulosSecondary: rgba(7, 4, 5, 0.824);
$colorBackground1: rgba(32, 21, 26, 0.527);
$colorBody: rgba(255, 255, 255, 0.42);
$colorTitle2: rgb(142, 4, 61);


$width100: 100%;
$height100: 100%;

$sizexl: x-large;
$sizexxl: xx-large;
$sizel: large;
$sizemd: medium;

